
.layout{}
.layout .nav{
    float:left;
    width:20%;
    background:#222;
}
.layout .contents{
    float:right;
    width:75%;
    min-height:400px;
    background:#eee;
}

/*--nav--*/
/*100vw ,100vh*/
html,body{
	margin:0;
	height:100%;
}
.layout{height:100%;}
.layout .nav{
	height:100%;
	padding:40px;
	width:calc(20% - 80px);
}
.layout .nav h1{
	color:#ddd; padding:40px 0;
}
.layout .nav ul{
	margin:0;padding:0;
	list-style:none;
}
.layout .nav ul li{
	border-bottom:1px solid #555;
	
}
.layout .nav ul li a{
	color:#ddd;
	text-decoration:none;
	padding:10px;
	width:100%;
	display:block;
}
.layout .nav ul li a:hover{
	background:#333;
}
   

/*--contents--*/


.layout .contents{
	width:calc(75% - 80px);
	padding:40px; 
}
.contents h2{}
.contents ul{
	margin:0px; padding:0;
	list-style: none;
}
.contents ul li{width:30%;}
.contents ul li img{width:100%}

.gallery ul {
			margin: :0;
			padding: 0;
			font-size: 0;
		}
		.gallery ul li {
			width: 30%;
			display: inline-block;
			margin: 0 5% 40px 0; /*12 3 6 9*/
		}
		
		.gallery ul li img {width: 100%}

		/*.gallery ul li:last-of-type{*/
		.gallery ul li:nth-of-type(3n) {
			margin-right: 0;
		}

		.page {
			text-align: center;
			margin-bottom: 100px;
		}
		.page a {
			border:1px solid #ddd;
			padding:5px 10px;
			display:inline-block;
			color:#333;
			text-decoration: none;
		}
		.page a:haver{
			color:#f00;
			background:#f5f5f5;
		}

	.contents ul {
			margin: :0;
			padding: 0;
			font-size: 0;
		}
		.contents ul li {
			width: 30%;
			display: inline-block;
			margin: 0 5% 40px 0; /*12 3 6 9*/
		}
		
		.contents ul li img {width: 100%}

		/*.contents ul li:last-of-type{*/
		.contents ul li:nth-of-type(3n) {
			margin-right: 0;
		}

